@{
    var token = GitCandy.Security.Token.Current;
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="@ViewBag.Lang">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/bundles/css")
    @*<link href="/Content/bootstrap.min.css" rel="stylesheet">*@

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="~/">@SR.Shared_AppTitle <span class="label">Alpha</span></a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav nav-pills pull-left">
                    <li class="divider-vertical"></li>
                    <li class="">@Html.ActionLink(SR.Shared_Repositories, "Index", "Repository")</li>
                    <li class="">@Html.ActionLink(SR.Shared_About, "About", "Home")</li>

                    @if (token != null && token.IsSystemAdministrator)
                    {
                        <li class="divider-vertical"></li>
                        <li class="">@Html.ActionLink(SR.Shared_Users, "Index", "Account")</li>
                        <li class="">@Html.ActionLink(SR.Shared_Teams, "Index", "Team")</li>
                        <li class="">@Html.ActionLink(SR.Shared_Settings, "Edit", "Setting")</li>
                    }
                </ul>
                <ul class="nav navbar-nav nav-pills pull-right">
                    @if (token == null)
                    {
                        <li class="">@Html.ActionLink(SR.Shared_Register, "Create", "Account")</li>
                        <li class="">@Html.ActionLink(SR.Shared_Login, "Login", "Account", new { ReturnUrl = ViewContext.HttpContext.Request.Url.PathAndQuery }, null)</li>
                    }
                    else
                    {
                        <li class="">@Html.ActionLink(token.Nickname, "Detail", "Account", new { name = token.Username }, null)</li>
                        <li class="">@Html.ActionLink(SR.Shared_Logout, "Logout", "Account", new { ReturnUrl = ViewContext.HttpContext.Request.Url.PathAndQuery }, null)</li>
                    }
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>

    <div class="container">
        @RenderBody()
    </div>

    <footer class="container footer">
        <div class="page-divider"></div>
        <div class="clearfix">
            <div class="pull-right btn-group dropup">
                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">@ViewBag.Language <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li>@Html.CultureActionLink("zh-cn")</li>
                    <li>@Html.CultureActionLink("en-us")</li>
                    <li>@Html.CultureActionLink("fr-fr")</li>
                </ul>
            </div>
            <div class="pull-left"><p class="muted" title="@Profiler.Current.Elapsed">&copy; 2013-@DateTime.Now.Year Aimeast. All rights reserved.</p></div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/js")
    @RenderSection("scripts", required: false)
</body>
</html>
