@model GitCandy.Models.ChangePasswordModel

@{
    ViewBag.Title = string.Format(SR.Shared_TitleFormat, SR.Account_ChangePasswordTitle);
}

<h3>@SR.Account_ChangePasswordTitle</h3>


    @using (Html.BeginForm("Change", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        <div class="form-group">
            @Html.LabelFor(s => s.OldPassword, new { @class = "col-md-3 control-label" })
            <div class="col-lg-6">
            @Html.PasswordFor(s => s.OldPassword, new { @class = "form-control" })
			<span class="text-danger">
                @Html.ValidationMessageFor(s => s.OldPassword)
            </span>
			</div>
        </div>

        <div class="form-group">
            @Html.LabelFor(s => s.NewPassword, new { @class = "col-md-3 control-label" })
            <div class="col-lg-6">
            @Html.PasswordFor(s => s.NewPassword, new { @class = "form-control" })
			<span class="text-danger">
                @Html.ValidationMessageFor(s => s.NewPassword)
            </span>
			</div>
        </div>

        <div class="form-group">
            @Html.LabelFor(s => s.ConformPassword, new { @class = "col-md-3 control-label" })
            <div class="col-lg-6">
            @Html.PasswordFor(s => s.ConformPassword, new { @class = "form-control" })
			<span class="text-danger">
                @Html.ValidationMessageFor(s => s.ConformPassword)
            </span>
			</div>
        </div>

		<div class="form-group">
            <div class="col-lg-6 col-lg-offset-3">
				<button type="submit" class="btn btn-primary">@SR.Account_ChangePassword</button>
			</div>
        </div>
    }
