@model GitCandy.Models.UserListModel

@{
    ViewBag.Title = string.Format(SR.Shared_TitleFormat, SR.Account_ListTitle);
}

<h4>@SR.Account_ListTitle</h4>

@using (Html.BeginForm("Index", "Account", FormMethod.Get))
{
    <div class="form-group w-half">
        <div class="input-group">
            <input type="text" name="query" class="form-control" />
            <span class="input-group-btn">
                <button type="submit" class="btn btn-default">@SR.Shared_Search</button>
            </span>
        </div>
    </div>
}

<div>
    <div class="pull-left">@string.Format(SR.Account_UsersFound, Model.ItemCount)</div>
    <div class="pull-right">@Html.ActionLink(SR.Shared_Create, "Create", null, new { @class = "btn btn-primary" })</div>
</div>
<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>@SR.Account_Username</th>
            <th>@SR.Account_Nickname</th>
            <th>@SR.Account_Email</th>
            <th>@SR.Account_IsSystemAdministrator</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Users)
        {
            <tr>
                <td>@Html.ActionLink(item.Name, "Detail", new { name = item.Name })</td>
                <td>@item.Nickname</td>
                <td>@item.Email</td>
                <td>@item.IsSystemAdministrator.ToFlagString(SR.Shared_Yes, SR.Shared_No)</td>
            </tr>
        }
    </tbody>
</table>
@Html.Partial("../Shared/_Pager")