@model GitCandy.Models.LoginModel

@{
    ViewBag.Title = string.Format(SR.Shared_TitleFormat, SR.Account_LoginTitle);
}

<div class="span7">
    @using (Html.BeginForm("Login", "Account", new { ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal" }))
    {

            <fieldset>
                <legend>@SR.Account_LoginTitle</legend>
                <div class="form-group">
                    @Html.LabelFor(s => s.ID, new { @class = "col-lg-3 control-label" })
                    <div class="col-lg-5">
                        @Html.TextBoxFor(s => s.ID, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(s => s.Password, new { @class = "col-lg-3 control-label" })
                    <div class="col-lg-5">
                        @Html.PasswordFor(s => s.Password, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-6 col-lg-offset-3">
                        <button type="submit" class="btn btn-primary">@SR.Shared_Login</button>
                        @Html.ActionLink(SR.Account_ForgotPassword, "Forgot")
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-6 col-lg-offset-3">
                        @Html.ValidationSummary(true, SR.Account_LoginFailed, new { @class = "alert alert-dismissable alert-danger" })
                    </div>
                </div>

            </fieldset>


        

    }
</div>
