@model GitCandy.Models.TreeEntryModel

@if (Model.BlobType == BlobType.Text)
{
    <pre><code class="language @Model.TextBrush">@Model.TextContent</code></pre>
}
else if (Model.BlobType == BlobType.MarkDown)
{
    <div id="md">@Model.TextContent</div>
    <script type="text/javascript">
        $("#md").html(marked($("#md").text()));
    </script>
}
else if (Model.BlobType == BlobType.Image)
{
    <img alt="@Model.Name" src="@Url.Action("Raw", Html.OverRoute(new { path = (Model.ReferenceName ?? Model.Commit.Sha) + "/" + Model.Path }))" />
}
else // Binary
{
    <div class="alert alert-block">
        @SR.Repository_BinaryFileWrods<br />
        @Html.ActionLink(SR.Repository_Raw, "Raw", Html.OverRoute(new { path = (Model.ReferenceName ?? Model.Commit.Sha) + "/" + Model.Path }))
    </div>
}