@model GitUrl[]

@{
    var first = Model.First();
}

<div class="input-group input-prepend input-append">
    <div class="input-group-btn">
        <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">@first.Type <span class="caret"></span></button>
        <ul class="dropdown-menu">
            @foreach (var item in Model)
            {
                <li data-giturl="@item.Url"><a href="#">@item.Type</a></li>
            }
        </ul>
    </div>
    <input type="text" class="form-control" value="@first.Url">
    <div class="input-group-btn">
        <a class="btn btn-default copy-clip" data-tips="@SR.Repository_CopyToClipboard" data-copied="@SR.Repository_Copied"><i class="glyphicon glyphicon-check"></i></a>
    </div>
</div>
