@model GitCandy.Models.BranchesModel

@{
    ViewBag.Title = string.Format(SR.Shared_TitleFormat, string.Format(SR.Repository_BranchesTitle, Model));
}

<h4>@string.Format(SR.Repository_BranchesTitle, "") @Html.ActionLink(Model.RepositoryName, "Tree", Html.OverRoute(new { path = "" }))</h4>

<table class="table table-hover">
    <tbody>
        <tr class="info">
            <td>
                <div>@Model.Commit.ReferenceName</div>
                <div class="pull-left keep-space" title="@Model.Commit.Author">@Model.Commit.Author.Name</div>
                <div class="pull-left keep-space">@SR.Repository_AuthoredAt <span title="@Model.Commit.Author.When">@Model.Commit.Author.When.LocalDateTime</span></div>
            </td>
            <td></td>
            <td></td>
            <td><strong>@SR.Repository_BaseBranch</strong></td>
        </tr>
        @foreach (var item in Model.AheadBehinds)
        {
            <tr>
                <td>
                    <div>@Html.ActionLink(item.Commit.ReferenceName, "Tree", Html.OverRoute(new { path = item.Commit.ReferenceName }))</div>
                    <div class="pull-left keep-space" title="@item.Commit.Author">@item.Commit.Author.Name</div>
                    <div class="pull-left keep-space">@SR.Repository_AuthoredAt <span title="@item.Commit.Author.When">@item.Commit.Author.When.LocalDateTime</span></div>
                </td>
                <td><p class="text-right">@item.Behind @SR.Repository_Behind</p></td>
                <td><p class="text-left">@item.Ahead @SR.Repository_Ahead</p></td>
                <td>@if(Model.CanDelete){<a class="btn" data-branch="@item.Commit.ReferenceName" href="#">@SR.Shared_Delete</a>}</td>
            </tr>
        }
    </tbody>
</table>
<script type="text/javascript">
    var deleteBranch_params = {
        words: '@Html.Raw(SR.Repository_BranchDeletionWords)',
        url: '@Url.Action("Branches", "Repository")'
    };
</script>
