@model GitCandy.Models.CommitModel

@{
    ViewBag.Title = string.Format(SR.Shared_TitleFormat, string.Format(SR.Repository_CommitTitle, Model.RepositoryName, Model.ReferenceName ?? Model.Sha.ToShortSha(), Model.CommitMessageShort));
}

<h4>@Html.ActionLink(Model.RepositoryName, "Tree", Html.OverRoute(new { path = "" }))</h4>

@Html.Partial("_PathBar", Model.PathBar)

<div class="row">
    <div class="span9 pull-left">
        <pre>@Model.CommitMessage</pre>
        <div class="pull-left keep-space">@Model.Author.Name</div>
        <div class="pull-left keep-space">@SR.Repository_AuthoredAt <span title="@Model.Author.When">@Model.Author.When.LocalDateTime</span></div>
        @if (Model.Author != Model.Committer)
        {
            <div class="pull-left keep-space">@Model.Committer.Name</div>
            <div class="pull-left keep-space">@SR.Repository_CommittedAt <span title="@Model.Committer.When">@Model.Committer.When.LocalDateTime</span></div>
        }
    </div>

    <div class="span3 pull-right text-right">
		
		<div class="">@Html.ActionLink(Model.Sha.ToShortSha(), "Commit", Html.OverRoute(new { path = Model.Sha }))</div>
		<div class="">@Html.ActionLink(SR.Repository_Tree, "Tree", Html.OverRoute(new { path = Model.Sha }))</div>
        @Model.Parents.Length @SR.Repository_Parents
        @for (var index = 0; index < Model.Parents.Length; index++)
        {
            if (index > 0)
            {
                @Html.Raw(" + ")
            }
            var parent = Model.Parents[index];
            @Html.ActionLink(parent.ToShortSha(), "Commit", Html.OverRoute(new { path = parent }))
        }
        
        
    </div>
</div>

@Html.Partial("_Diff", Model)
