@model GitCandy.Models.RepositoryModel

@{
    ViewBag.Title = string.Format(SR.Shared_TitleFormat, string.Format(SR.Repository_DetailTitle, Model.Name));
    var token = GitCandy.Security.Token.Current;
}

<h4>@string.Format(SR.Repository_DetailTitle, Model.Name)</h4>

@if (Model != null)
{
    <div class="span8">
        <div class="row">
            <div class="span2 text-right lead muted">@Html.DisplayNameFor(s => s.Name)</div>
            <span class="span5 text-left lead">@Model.Name</span>
        </div>
        <div class="row">
            <div class="span2 text-right lead muted">@Html.DisplayNameFor(s => s.IsPrivate)</div>
            <pre class="span5 text-left lead">@Html.DisplayFor(s => s.IsPrivate)</pre>
        </div>
        <div class="row">
            <div class="span2 text-right lead muted">@Html.DisplayNameFor(s => s.AllowAnonymousRead)</div>
            <pre class="span5 text-left lead">@Html.DisplayFor(s => s.AllowAnonymousRead)</pre>
        </div>
        <div class="row">
            <div class="span2 text-right lead muted">@Html.DisplayNameFor(s => s.AllowAnonymousWrite)</div>
            <pre class="span5 text-left lead">@Html.DisplayFor(s => s.AllowAnonymousWrite)</pre>
        </div>
        <div class="row">
            <div class="span2 text-right lead muted">@Html.DisplayNameFor(s => s.DefaultBranch)</div>
            <pre class="span5 text-left lead">@Model.DefaultBranch</pre>
        </div>
        <div class="row">
            <div class="span2 text-right lead muted">@Html.DisplayNameFor(s => s.Description)</div>
            <pre class="span5 text-left lead">@Model.Description</pre>
        </div>
        <div class="row">
            <div class="span2 text-right lead muted">@Html.DisplayNameFor(s => s.Collaborators)</div>
            <span class="span5 text-left lead">@Html.DisplayFor(s => s.Collaborators)</span>
        </div>
        <div class="row">
            <div class="span2 text-right lead muted">@Html.DisplayNameFor(s => s.Teams)</div>
            <span class="span5 text-left lead">@Html.DisplayFor(s => s.Teams)</span>
        </div>

        <div class="form-actions">
            <div class="pull-left">
                @Html.ActionLink(SR.Repository_Tree, "Tree", new { Model.Name }, new { @class = "btn" })
            </div>
            @if (token != null && (token.Username == Model.Name || token.IsSystemAdministrator))
            {
                <div class="pull-right">
                    @Html.ActionLink(SR.Repository_Relationship, "Coop", new { Model.Name }, new { @class = "btn" })
                    @Html.ActionLink(SR.Shared_Edit, "Edit", new { Model.Name }, new { @class = "btn btn-primary" })
                </div>
            }
        </div>
    </div>
}