@model GitCandy.Models.RepositoryListModel

@{
    ViewBag.Title = string.Format(SR.Shared_TitleFormat, SR.Repository_ListTitle);
}

<h4>@SR.Repository_ListTitle</h4>

<div class="row">
    @if (Model.CanCreateRepository)
    {
        <div class="pull-right">@Html.ActionLink(SR.Shared_Create, "Create", null, new { @class = "btn btn-primary" })</div>
    }
</div>
<div class="row">
    <div class="col-sm-12">
        <table class="table table-hover">
            <thead>@SR.Repository_Collaborations</thead>
            <tbody>
                @foreach (var repo in Model.Collaborations)
                {
                    <tr>
                        <td>
                            @Html.ActionLink(repo.Name, "Tree", Html.OverRoute(new { repo.Name }))
                        </td>
                        <td>
                            @repo.Description
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <table class="table table-hover">
            <thead>@SR.Repository_PopularRepositories</thead>
            @foreach (var repo in Model.Repositories)
            {
                <tr>
                    <td>
                        @Html.ActionLink(repo.Name, "Tree", Html.OverRoute(new { repo.Name }))
                    </td>
                    <td>
                        @repo.Description
                    </td>
                </tr>
            }
        </table>
    </div>
</div>
