@{
    ViewBag.Title = string.Format(SR.Shared_TitleFormat, SR.Home_AboutTitle);
}

<h4>@SR.Home_AboutTitle</h4>

<div id="md">
@Html.Raw(SR.Home_AboutDescription)
* [ASP.NET MVC](http://aspnetwebstack.codeplex.com/) @@ [Apache License 2.0](http://aspnetwebstack.codeplex.com/license)
* [Bootstrap](http://github.com/twbs/bootstrap) @@ [MIT License](http://github.com/twbs/bootstrap/blob/master/LICENSE)
* [Bootstrap-switch](http://github.com/nostalgiaz/bootstrap-switch) @@ [Apache License 2.0](http://github.com/nostalgiaz/bootstrap-switch/blob/master/LICENSE)
* [EntityFramework](http://entityframework.codeplex.com/) @@ [Apache License 2.0](http://entityframework.codeplex.com/license)
* [Highlight.js](http://github.com/isagalaev/highlight.js) @@ [New BSD License](http://github.com/isagalaev/highlight.js/blob/master/LICENSE)
* [jQuery](http://github.com/jquery/jquery) @@ [MIT License](http://github.com/jquery/jquery/blob/master/MIT-LICENSE.txt)
* [LibGit2Sharp](http://github.com/libgit2/libgit2sharp) @@ [MIT License](http://github.com/libgit2/libgit2sharp/blob/master/LICENSE.md)
* [marked](http://github.com/chjj/marked) @@ [MIT License](http://github.com/chjj/marked/blob/master/LICENSE)
* [Microsoft.Composition (MEF2)](http://mef.codeplex.com/) @@ [Microsoft Public License](http://mef.codeplex.com/license)
* [SharpZipLib](http://github.com/icsharpcode/SharpZipLib) @@ [GPL License](http://github.com/icsharpcode/SharpZipLib/blob/master/doc/COPYING.txt)
* [ZeroClipboard](http://github.com/zeroclipboard/zeroclipboard) @@ [MIT License](http://github.com/zeroclipboard/zeroclipboard/blob/master/LICENSE)
</div>
<script type="text/javascript">
    $("#md").html(marked($("#md").text()));
</script>
<!--
@Meta.BuildingInformation

Version: @Meta.Version

Tracing: @DateTimeOffset.Now.ToString(System.Globalization.DateTimeFormatInfo.InvariantInfo)
-->